<%= form_for [@restaurant, @review] do |f| %>

<div class = "formfield">
  <%= f.label :comment, class: "form-control-label" %>
  <%= f.text_area :comment, class: "form-control" %> <br />

  <%= f.label :rating, class: "form-control-label" %>
  <%= f.number_field :rating, value: 1, min: 1, max: 5, class: "form-control" %>
  <%= f.submit "Create Review", class: "btn btn-default" %>
</div>
<% end %>
